<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level | %d{ISO8601} | %-12logger{1} | [[[%msg %ex]]]%n</pattern>
        </encoder>
    </appender>

    <logger name="dev.mo">
        <level value="INFO"/>
    </logger>

    <root>
        <level value="ERROR"/>
        <appender-ref ref="OUT"/>
    </root>
</configuration>
